<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="ChromeDriver" value="D:\Git\seleniumFramework\Drivers\chromedriver.exe"/>
    <add key="ObjectRepository" value="D:\Git\seleniumFramework\FrameworkSample\DOM\OrangeHRM.xml"/>
    <add key="Url" value="http://localhost/OrangeHRM"/>
    <add key="ObjectTypesFile" value="D:\Git\seleniumFramework\FrameworkSample\objects.ini"/>
  </appSettings>
</configuration>
